<mat-card class="mr-11">
    <mat-card-content>
        <div class="ps-5 pe-5 overflow">
            <div class="row ">
                <div class="col-lg-5 hid  col-sm-12 col-md-5">
                    <div>
                        <img class="login-image ratio" src="assets/images/back2.jpeg">
                    </div>
                </div>
                <div class=" col-lg-1  col-sm-12 col-md-1"></div>
                <div class=" col-lg-6 col-sm-12 col-md-6">
                    <form class="login-form" name="form">
                        <label class="login"> Login</label>

                        <div class="form-group mr-top-7">
                            <label class="label" for="exampleInputEmail1">Email</label>
                            <input type="email" class="input" id="exampleInputEmail1" name="email" placeholder="Email">
                        </div>
                        <div class="form-group mr-top-3">
                            <label class="label" class="password-label" for="Password">
                                Password
                            </label>
                            <div id="input-container">
                                <img (click)="toggleShowPassword()" class="eye-icon"
                                    [src]="fieldtoggleShowPassword ?  'assets/images/icon/not-show.png':'assets/images/icon/show.png' "
                                    alt="">
                                <input [type]="fieldtoggleShowPassword ? 'text' : 'password'" class="input"
                                    id="Password" placeholder="***************" name="password" minlength="6">
                            </div>
                        </div>

                        <div class="form-check mr-top-6">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-checkbox formControlName="Remember">Remember me</mat-checkbox>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <a class="forgot-password cursor" routerLink="/forgot-password">Forgot Password</a>
                                </div>
                            </div>


                        </div>
                        <button class="button-login" (click)="Submit()">
                            <p class="login-word">LOGIN</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>