.login-image {
    max-width: 105%;
    max-height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: -7%;
    border-radius: 8px;


}
.ratio{
    aspect-ratio: 3 / 4 !important; 
}
.mr-11{
    margin: 11px !important;
}
.overflow{
    overflow-x: hidden !important;
}
.login-form {
    margin-top: 21%;
    margin-right: 15%;
    margin-left: 4%;
}

.login {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 18px;
    gap: 18px;
    width: 100%;
    height: 50px;
    background-color: #F7F7F7;
    border: 1.5px solid #EEEEEE;
    border-radius: 10px;
    margin-top: 1%;

}

@media (max-width: 992px) {
    .hid{
         display: none;
    }
    .pe-5{
             
            padding-right: 0rem !important;
    }
    .ps-5 {
         padding-left: 0rem !important;
    }
    .login-form {
        margin-top: 0%!important;  
          margin-right: 0%!important;  
         margin-left: 0%!important;  
    }
    .eye-icon{
        margin: 1% 82% !important;
    }
    .cursor  {
         margin-left: 0% !important; 
        margin-top: 4%  !important;
        cursor: pointer !important;
    }
}
.label {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.5px 21px;
    gap: 15px;
    width: 100% !important;
    height: 52px !important;
    background: #00CEDA;
    box-shadow: 0px 15px 60px rgba(0, 94, 100, 0.23);
    border-radius: 10px;
    border: none;
    margin-top: 10%;
}

.login-word {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px !important;
}

.forgot-password {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    // line-height: 17px;
    // margin-left: 257%;
    width: 100%;
    // margin-top: -4%;
    display: flex;
    // align-items: center;
    color: #FFA031;
}

.remember-me {
    width: 108px;
    height: 17px;
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #03314B;
}

::placeholder {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #C0C0C0;
}


.input:hover {
    border-color: #00CEDA
}

.input::selection {
    border-color: #00CEDA
}

.back {

    margin-top: 5%;
    margin-left: 30%;
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #03314B;
}

.row {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.eye-icon {
    position: absolute;
    // margin: -36px 469px !important;
    margin: 1% 90%  ;
    cursor: pointer;

}
.mr-top-7{
    margin-top: 7%;
}
.mr-top-3{
    margin-top: 3%;
}
.mr-top-6{
    margin-top: 6%;
}
.cursor{
    margin-left: 50%;
    margin-top: -3%;
    cursor: pointer!important;
}
#input-container {
    position: relative;
  }
  
  #input-container > img {
    position: absolute;
    top: 12px;
    left: 15px;
  }
  
  #input-container > input {
    padding-left: 40px;
  }

  .buttonn {
    background-color:#01b9c4 ; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .buttonn:hover {
    background-color:#01b9c4;
  }