<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a href="javascript:void(0)" class="d-flex align-items-center mr-logo">
          <img src="assets/images/logo/Vector.png" alt="" class="chart-0">
          <img src="assets/images/logo/Vector (1).png" alt="" class="chart-1">
          <img src="assets/images/logo/Vector (2).png" alt="" class="chart-2">
          <img src="assets/images/logo/Vector (3).png" alt="" class="chart-3">
          <img src="assets/images/logo/Vector (4).png" alt="" class="chart-4">
          <img src="assets/images/logo/Vector (5).png" alt="" class="chart-5">
          <img src="assets/images/logo/Vector (6).png" alt="" class="chart-6">
          <img src="assets/images/logo/Vector (7).png" alt="" class="chart-7">
        </a>
      </div>
      <div class="pt-8">
        <ul class="pad-0">
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"   
              class="sidebar-menu  color-CCCCCC  fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
              <img class="icon-sidebar" src="{{ sidenav.icon }}">
              <span class="ps-4">{{
                sidenav.menu }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="card-header">
      <mat-card-content class="pad-4">
        <mat-toolbar class="header ps-24 pe-24">
          <button type="button" class="ms-4" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
          </button>
          <div class="float-start">
            <a class="navbar-brand" href="#">
              <label class="label-navbar">
                <img class="icon-sidebar color-01B9C4"   src="{{icone}}">
                {{base | titlecase}}
              </label>
            </a>
          </div>
          <div class="ms-auto">
            <button mat-raised-button type="button" class="buttonheader color-01B9C4" >
              <i-feather name="plus" class="feather-base  i-ad-comp"></i-feather>
              <span class="color-01B9C4" >{{ 'Add Company' | translate }}</span>
            </button>
            <button class="fs-16 menu  text-light-muted" [matMenuTriggerFor]="menu">
              <div class="row">
                <div class="col-9">
                  <i-feather    name="chevron-down"
                    class="feather-base mr-8-5 mt-n2"></i-feather>
                  <b class="color-4E4E4E">Ayham Azeemah</b>
                  <p class="mr-0">
                    Super Admin
                  </p>
                </div>
                <div class="col-3">
                  <img   [src]="  'assets/images/icon/Rectangle 3463310.jpg'" class="mr-0-6 rounded-circle"
                  alt="">
                </div>
              </div>
            </button>
            <mat-menu #menu="matMenu" class="profile-dropdown">
              <div     class="m-0 p-16 mb-4">
                <button mat-menu-item class="fs-16" (click)="Login()">Login</button>
              </div>
            </mat-menu>
          </div>
        </mat-toolbar>
      </mat-card-content>
    </mat-card>
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>