.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.card-header{
  margin: 11px 11px 11px 11px !important; 
}
.buttonheader{
  // display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 2px;
      box-shadow: 0px 0px;
      gap: 8px;
      width: 149px;
      height: 48px;
      background: #E9F8FF;
      border-radius: 10px;
      border: none;
  
}
.i-ad-comp{
  margin: -5px 8px 12px 0px !important;
}
.icon-sidebar{
  margin: 0px 12px 0px 0px !important; 
}
.label-navbar{width: 93px;
  height: 20px;
  
  // font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  
  letter-spacing: 0.15px;
  
  color: #01B9C4;
}
 
.chart-1{
 
padding: 4px 2px 0px 3px;

}
.chart-2{
 
  padding: 1px 2px 0px 0px;

}
.chart-3{
 
  padding: 5px 1px 0px 0px;

}
.chart-4{
    
padding: 5px 1px 0px 0px;

}
.chart-5{
  padding: 5px 1px 0px 0px;
}
 .mr-0{
  margin: -8px -76px 0px 0px;
  font-size: 13px;
  color: #787878;

 }
.mr-logo{
  margin: 0px  8px;

}
.m-0{
  margin: 0px !important;
}
.mr-0-6{
  margin: 0px 6px;
}
.mr-8-5{
  margin: -5px 0px 8px 0px !important;
}
.color-4E4E4E{
  color: #4E4E4E !important;
}
.color-CCCCCC{
  color: #CCCCCC !important;
}
.color-01B9C4{
  color: #01B9C4 !important;
}
 .pad-0{
  padding: 0px 0px 0px 13px !important;
 }
 .color_CCCCCC{
  color: #CCCCCC !important;

 }
 .menu{
  // display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 24px;
  /* width: 211px; */
  border: none !important;
  height: 48px;
  background: #edeef5;
  margin: 0px 0px 0px 14px;

  border-radius: 10px;
 }
 .buttonn {
  background-color:#01b9c4; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonn:hover {
  background-color:#01b9c4;
}