<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-3  col-sm-12 ">
                <mat-card class="cord-scrolle   back-rond-F9F9F9">
                    <mat-card-content class="pad-3">
                        <div class=" mr-0" *ngFor="let company of companies">
                            <button class="butComapny ">
                                <img class="icon-sidebar" src="assets/images/cadmose.png">
                                <span class="label">
                                    Alkadmous
                                </span>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-9  col-sm-12 ">
                <mat-card class="back-rond-F9F9F9">
                    <div class="row">
                        <div class="col-12 mr-10">
                            <div class="float-start">
                                <div class="row">
                                    <div class="col-4">
                                        <mat-card-title class="head-card">{{ 'Destinations' | translate
                                            }}</mat-card-title>
                                    </div>
                                    <div class="col-8">
                                        <div class="from-to row  ">
                                            <div class="col-3 text-from-to  ">
                                                <p class="to_from mr-0 cu_pointer">
                                                    {{ 'From'}}
                                                </p>
                                            </div>
                                            <div class="col-3  " style="margin: 11px 0px;">
                                                <img src="assets/images/icon/from-to.png" alt="" class="chart-0">
                                            </div>
                                            <div class="col-3 text-from-to ">
                                                <p class="to_from mr-0 cu_pointer">
                                                    {{ 'To'}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-end">
                                <div class="row">
                                    <div class="col-5 " id="input-container">
                                        <img style="margin: 8px 0px 0px -4px;  height: 23px;"
                                            src="assets/images/icon/search.png">
                                        <input style=" padding: 0px 11px;  " type="text" class="form-control search  "
                                            placeholder="{{ 'search' | translate }}">
                                    </div>
                                    <div class="col-7">
                                        <button mat-button class="new-trip">
                                            <i-feather name="plus" class="icon-plus"></i-feather>
                                            {{ 'New Trip' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mr-10">
                            <mat-chip-listbox aria-label="Fish selection">
                                <ng-container *ngFor="let state of list_country">
                                    <mat-chip-option class="chip_state"
                                        [class]="state == 'Damascus' ? 'chip_state_select': ' ' ">
                                        {{state }}
                                    </mat-chip-option>
                                </ng-container>
                            </mat-chip-listbox>
                        </div>
                    </div>


                    <mat-card-content class="pad-17  ">
                        <div style="margin: 0px 0px 50px 0px; ">
                            <div class="float-start">
                                <b>{{'Trips'| translate}}</b>
                            </div>
                            <div class="float-end">
                                <div class="float-start" style=" margin: 0px 22px;">
                                    {{'Today' | translate}}
                                </div>
                                <div class="float-end">
                                    <b>Filter</b>
                                    <i-feather style="    margin: -5px 0px 8px 0px !important; " name="chevron-down"
                                        class="feather-base mt-n2"></i-feather>
                                </div>
                            </div>
                        </div>
                        <div class="scrolle">
                            <ng-container *ngFor="let trip of trips">
                                <div class="trip_card cu_pointer"
                                    [ngClass]="{'trip_card_active': trip == active_trip } " [matMenuTriggerFor]="menu"
                                    (click)="click_trip(trip)">
                                    <div class="float-start mr-2">
                                        <div class="row">
                                            <b>06:50 AM</b>
                                        </div>
                                        <div class="row">
                                            <p class="mr-0">Damascus</p>
                                        </div>
                                    </div>
                                    <div class="float-end mr-2">
                                        <div class="row">
                                            <b>11:05 AM</b>
                                        </div>
                                        <div class="row">
                                            <p class="mr-0">Aleppo</p>
                                        </div>
                                    </div>
                                    <div class="dashed">
                                    </div>
                                    <div class="i-bus">
                                        <img src="assets/images/icon/uil_bus.png" alt="" class="chart-0">
                                        <p class="text-lenth">4h 15m</p>
                                    </div>
                                    <hr class="mr-line">
                                    <div class="float-start  mr-text-price">
                                        <p class="color-FE9C07 font-seats">12 Seats available
                                        </p>
                                    </div>
                                    <div class="float-end  mr-text-price">
                                        <p class="color-FE9C07 font-price">SP 7,500</p>
                                    </div>
                                </div>
                                <mat-menu class="example-menu" #menu="matMenu">
                                    <div class="example-menu" cdkMenu>
                                        <button class="example-menu-item" mat-menu-item> Book a seat </button>
                                        <button class="example-menu-item" mat-menu-item>View details</button>
                                        <button class="example-menu-item" mat-menu-item>Delete</button>
                                    </div>
                                </mat-menu>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>