.trip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 16px;

    width: 65%;
    height: 34rem;
    margin-left: 33%;
    background: #F9F9F9;
    border-radius: 16px;
    margin-top: 2%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.companies {

    margin-top: -39.3%;
    margin-left: 17%;
    height: 34rem;
    background: #F9F9F9;
    border-radius: 16px;
    width: 15%;

    border-radius: 16px;

}

/* Sidebar */

.butComapny {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    margin: 4%;

    width: 171px;
    height: 36px;

    border: none;
    background: none;


    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */


    /* ECO colors/Grey 20 */

    color: #CCCCCC;
    line-height: 160%;
    /* or 19px */



}

.butComapny:hover {


    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 171px;
    height: 36px;

    background: #FFEFD7;
    border-radius: 8px;

    color: #FFFFFF;

    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */


    /* ECO colors/Grey 20 */


}

.active {
    background: #FFEFD7;
    color: #FFFFFF;
    border-radius: 8px;

}

.buttonheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 149px;
    height: 48px;

    background: #E9F8FF;
    border-radius: 10px;
    border: none;

}

.label-navbar {
    width: 93px;
    height: 20px;

    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: 0.15px;

    color: #01B9C4;
}

.icon-sidebar {
    color: #CCCCCC;

}

.icon-sidebar:hover {
    color: #FFFFFF;

}

.label {
    width: 64px;
    height: 19px;

    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */


    color: #023047;

}

.cord-scrolle {
    height: 605px !important;
    padding: 3px !important;
    overflow-y: auto !important;
    // width: 211px;
}

::-webkit-scrollbar {
    width: 6px;
    overflow-y: auto !important;
    ;
    background: #FFEFD7;
    // box-shadow: inset 0 0 4px #707070;
    border-radius: 10px;
    // -webkit-overflow-scrolling: touch;

}

::-webkit-scrollbar-thumb {
    background: #FF9C06;
    border-radius: 10px;
}

.mr-0 {
    margin: 0px !important;
}

.back-rond-F9F9F9 {
    background-color: #F9F9F9 !important;
}

.pad-3 {
    padding: 3px !important;
}

.w-20 {
    max-width: 20% !important;
    width: 20% !important;
}

.w-80 {
    max-width: 80% !important;
    width: 80% !important;
}

.pad-1 {
    padding: 0px 5px !important;

}

.mat-card {
    border-radius: 16px !important;
}

.pad-9 {
    padding: 9px !important;
}

::ng-deep .mat-card-header-text {
    margin: 3px;
}

.head-card {
    font-size: 20px;
    font-weight: 800;
    margin: 6px 0px 0px 0px;

}

.from-to {

    // width: 214px;
    width: 287px;
    margin: 0px 0px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.text-from-to {
    padding: 4px 20px 6px 0px;

    color: #CCCCCC;
    font-size: 15px;
    line-height: 15px;
    margin: 9px 6px;
    width: 28%;
    text-align: center;
    justify-content: center;
}

#input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;
    width: 66%;


    margin-left: -33%;
    margin-top: -4%;




    background: #FFFFFF;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 100%;
    height: 43px;
    background: #F6F6F6;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin: -9px -5px !important;

}



#input-container {
    position: relative;
}

#input-container>mat-datepicker-toggle {
    position: absolute;
    top: 12px;
    left: 15px;
}
 

#input-container>input {
    padding-left: 40px;
    
}

#input-container>img {
    position: absolute;
    top: 8px;
    left: 10px;
}

#input-container>input {
    padding-left: 40px;
}

.new-trip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 113px;
    height: 40px;
    color: #fff;
    background: #01B9C4;
    border-radius: 10px;
}

.icon-plus {
    margin: 0px 0px 18px 4px !important;

}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 0px;
    width: 129px;
    height: 40px;

    background: #FFFFFF;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .mr-right {
        margin: 0px 0px 0px 194px;
    }
}

.to_from {
    border: 0px;
    background: #FFFFFF;
    width: 132%;
    height: 126%;
    text-align: center;
}

.date-piker {
    position: absolute;
    margin: -3.5% 14% !important;
    cursor: pointer;
}


.to_from_active {
    border: 1px solid #FF9C06;
    border-radius: 5px;
    color: #000;
}

.mr-5 {
    margin: 5px 0px !important;
}

.font-100 {
    font-size: 100% !important;

}

.trip_card {
    border: 1px solid #fff;
    border-radius: 8px;
    width: 95%;
    height: 89px;
    margin: 24px 20px;
    background-color: #fff;
}

.trip_card:hover,
.trip_card::after {
    border: 1px solid #FF9C06;
}

.trip_card_active {
    border: 1px solid #FF9C06;

}

.back-rond-fff {
    background: #FFFFFF !important;
}

.pad-17 {
    padding: 17px !important;

}

.mr-2 {
    margin: 2px 2% !important;

    // border: 1px dashed #9BA8BB;

}

.dashed {
    border: 1px dashed #9BA8BB !important;
    margin: 10px 85px 0px 95px !important;
}

.i-bus {
    justify-content: center;
    text-align: center;
    margin: -13px 0px;
}

.text-lenth {
    color: #446C83;
    font-size: 12px;
}

.mr-0 {
    margin: 0px;
}

.mr-line {
    margin: 25px 26px !important;
}

.color-FE9C07 {
    color: #FE9C07;
}

.font-price {
    font-size: 19px;
    font-weight: 700;
}

.mr-text-price {
    margin: -16px 17px !important;
}

.font-seats {
    font-size: 12px;
    font-weight: bold;
}

.scrolle {
    overflow-y: scroll;
    height: 605px;
    overflow-y: scroll;
    margin: 12px;
}

.chip_state {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 2px !important;
    gap: 2px !important;
    width: 10% !important;
    height: 24px !important;
    background: white !important;
    border-radius: 8px !important;
}

.chip_state_select {

    background: #FF9C06 !important;

}

.example-menu-item:hover {
    background: #E9F8FF;
    border-radius: 15px 15px 0px;
    color: #01B9C4;
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    background: #E9F8FF;
    border-radius: 15px  ;
    // border: 1px solid #01B9C4;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}
::ng-deep .mat-menu-content:not(:empty) {
     padding-top: 0px !important;  
    padding-bottom: 0px !important; 
    border-radius: 15px 15px 0px !important; 
   
}
::ng-deep .mat-menu-panel{
         border-radius: 15px !important;  
         border: 1px solid #01B9C4 !important;
}