// You can use your custom style here. :)
@import "~bootstrap/dist/css/bootstrap.css";
 
 

.pad-4{
    padding: 4px !important;

}
a {
    color: var(--bs-link-color);
    text-decoration: auto !important;
}
.body-wrapper {
    padding: 0px 10px !important;
}
.mat-card{
    border-radius: 16px !important;
}
.pad-0{
    padding: 0px 0px !important;
  }
  .mr-10{
    margin: 10px !important;

  }
  .cu_pointer{
    cursor: pointer !important;
  }
  ::ng-deep mat-sidenav-content{
    background: #F9F9F9 !important;
  }